body{
	font-family: 'Roboto Slab', serif;
}
.active{
    color:orange;
}

.centered{
    text-align: center;
    margin-top: 20px;
}

.topmargin{
	margin-top: 40px;
}

#backgroundImage{
	width: 100%;
	position: fixed;
	z-index: -10;
}

.cleaner{
	height: 50px;
}

.headerText{
	font-family: 'Montserrat', sans-serif;
	font-size: 200%;
}

#map{
	height: 300px;
    width: 50%;
}

.weathermargin{
	margin-top: 60px;
}

.robotoSlab{

	font-family: 'Oswald', sans-serif;
	font-size: 120%;
}

.footer{

	width: 100%;
	height: 60px;
	background-color: #f8f8f8;
}

.textmargin{
	margin-top: 20px;
}


